@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0;
    box-sizing: border-box;
}

#quote-box {
    max-width: 600px;
    min-height: 200px;
    padding: 40px;
    border-radius: 5px;
    position: relative;
}

#text {
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
    min-height: 60px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hein {
    animation-name: text;
    animation-duration: 1s;
    animation-timing-function: linear;
}

.htet {
    animation-name: body;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes body {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes text {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


#author {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    /* margin-top: 10px; */
    text-align: right;
}


#btn {
    margin-top: 20px;
    position: absolute;
    top: 50%;
    right: 20px;
}

#quote-box div:nth-of-type(3) .button {
    /* width: 30px; */
    /* padding: 3px 5px; */
    margin-right: 5px;
}

#quote-box div:nth-of-type(3) i{
    color: #fff;
    font-size: 1.4rem;
}